* {
  margin: 0;
  box-sizing: border-box;
}
.list-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.day-item {
  margin: .5rem auto;
  border: .1rem solid gray;
}